# SPDX-FileCopyrightText: 2025 diggsweden/wallet-backend-reference
#
# SPDX-License-Identifier: EUPL-1.2

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

target

.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

#
# Intelij
*.iml
.idea
out
*.iws
*.ipr
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

**/megalinter-reports

# logs
/traefik/logs/
*.log
logs

.env
wallet-cert.pem


*.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.npm
node_modules
**/megalinter-reports
