# SPDX-FileCopyrightText: 2025 diggsweden/wallet-backend-reference
#
# SPDX-License-Identifier: EUPL-1.2
**/*.md
megalinter-reports
target
development/format/eclipse-java-google-style.xml
development/lint/google_checks.xml
development/sast/pmd_default_java.xml
